body{
    margin:0;
    font-family: 'Open Sans';
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    align-self: stretch;
    flex-wrap: wrap;
    
}

#logo{
    font-size: 30px;
    color: white;
}

#nav-links{
    display: flex;
    gap: 10px;
    align-items: baseline;
    
}

#nav-links a{
    text-decoration: none;
    color: white;
}

#nav-links button{
    background-color: transparent;
    border: 3px solid white;
    
}

#nav-menu-icon{
    display: none;
    flex-direction: column;
    gap: 5px;
}

#nav-menu-icon > div{
    height: 3px;
    width: 30px;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    #nav-links{
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(16, 106, 86);
    }

    #nav-menu-icon{
        display: flex;
    }
}

header{
    background-image: url("./images/header.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    padding-bottom: 50px;
    position: relative;
}

header>*{
    z-index: 1;
    /*position: relative;*/
}

header>h2,
header>h1{
    color: white;
}

#header-overlay{

    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
}

.round-button{
    border-radius: 20px;
    padding: 7px;
    color: white;
}

header>button{
    background-color: rgb(16, 106, 86);
    border: none;
    
    font-size: large;
}

section{
    margin: 30px 40px ;

}

footer{
    background-color: rgb(16, 106, 86);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

footer button{
    background-color: red;
    border: none;
}

footer input{
    padding: 5px;
    border-radius: 10px;
    border: none;
}

#section-header{
    text-align: center;
}

#posts-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}

.post{
    flex-grow: 1;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
}

.post img{
    object-fit: cover;
    width: 100%;
}

.post p{
    text-align: center;
}

.post h1{
    font-weight: lighter;
    color: rgb(16, 106, 86);
}

.post a{
    color: rgb(16, 106, 86);
}


